.wrapper{
    width:500px;
    height: 500px;
    position: relative;
    background: url('./img/szamlap.webp') center center;
    background-size: cover;
}
.wrapper>div{
    width:100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}
.mp{
    background: url('./img/mpm.webp') center center;    
}
.ora{
    background: url('./img/oram.webp') center center;    
}
.perc{
    background: url('./img/percm.webp') center center;    
}